<div class="fillingList" id="singleList">
    <div class="fillingLabBtns left questionLabBtns"></div>
    <div class="clearboth"></div>
    <div class="fillingQuestionItem bgColor smallPadding">
        <div class="slide-container">
            <div class="stem"></div>
            <div class="nav-container">
                <button role="button" id="prevBtn" class="btn btn-secondary nav_previous" disabled="disabled">上一题</button>
                <span class="labNo">0</span>
                <span>/</span>
                <span class="totalNo">0</span>
                <button role="button" id="nextBtn" class="btn btn-secondary nav_next">下一题</button>
            </div>
        </div>
    </div>
</div>
<script>
    var currentFillingQuestionNum = 0;
    $(document).ready(function(){
        if(fillingNum > 0){
            //init single answer
            initFillingAnswerSheet();
            refreshFillingList();
        }
    })
    function initFillingAnswerSheet(){
        for (var i = 0; i < fillingNum; i++) {
            answerSheet['fillings'].push({
                answer: [],
                miniseconds: []
            });
        }
    }
    function refreshFillingList(){
        var previousBtn = $('.fillingList').find('.nav_previous');
        //create filling question lab
        var fillingListLabButtons = '';
        for (var i = 0; i < fillingNum; i++) {
            fillingListLabButtons += '<button class="btn questionLabNo" type="button">' + (i + 1) + '</button>';
        }
        $(".fillingLabBtns").html(fillingListLabButtons);

        //refresh question total num
        $('.fillingQuestionItem .totalNo').html(fillingNum);

        $('.nav .nav-item').eq(2).removeClass('tabDisabled');

        //click question lab button
        $('.fillingList').find('.questionLabNo').click(function (eventName, notCheckAnswer) {
            if(!notCheckAnswer){
                updateFillingAnswer();
            }           
            currentFillingQuestionNum = $(this).index();
            renderFillingQuestion();
            if (currentFillingQuestionNum == 0) {
                setBtnDisabled(previousBtn);
            }else{
                setBtnEnabled(previousBtn);
            }
        });

        //click next button
        $('.fillingList').find('.nav_next').click(function () {
            updateFillingAnswer();          
            if (currentFillingQuestionNum < fillingNum - 1) {
                currentFillingQuestionNum++;
                renderFillingQuestion();
                setBtnEnabled(previousBtn);
            } else {
                $('.tab-content').hide();
                $('#navToNextTab').modal('show');
            }
        });

        //click prev button
        $('.fillingList').find('.nav_previous').click(function () {
            updateFillingAnswer();
            if (currentFillingQuestionNum > 0) {
                currentFillingQuestionNum--;
            }
            renderFillingQuestion();
            if (currentFillingQuestionNum == 0) {
                setBtnDisabled(previousBtn);
            }
        });

        //only select at least one answer will trigger
        $('.fillingQuestionItem').on('change', 'input', function () {
            var allInputEle = $('.fillingQuestionItem input');
            var thisLabNo = $('.fillingLabBtns .questionLabNo').eq(currentFillingQuestionNum);
            var ifAnswer = false;
            for (var i = 0; i < allInputEle.length; i++) {
                if ($(allInputEle[i]).val().trim() != '') {
                    ifAnswer = true;
                }
            }
            if (ifAnswer) {
                thisLabNo.addClass('selected');
            } else {
                thisLabNo.removeClass('selected');
            }
        });
    }
    function updateFillingAnswer(){
        clearInterval(timer);
        var actualFillingNum = getMixOrderArray(fillingNum, currentFillingQuestionNum);
        var currentAnswer = answerSheet['fillings'][actualFillingNum]['answer'];
        var answer = [];
        $(".fillingQuestionItem input").each(function(){
            if($(this).val().trim()){
                answer[$(this).index()] = $(this).val().trim()
            }
        });
        var ifChangeAnswer = arrayCompare(currentAnswer, answer);
        if(!ifChangeAnswer){
            answerSheet['fillings'][actualFillingNum]['answer'] = answer;
            answerSheet['fillings'][actualFillingNum]['miniseconds'].push(time, answer);
        }else{
            if(time > 2){
                answerSheet['fillings'][actualFillingNum]['miniseconds'].push(time, answer);
            } 
        }
    }
    function restoreFillingAnswer(){
        var actualFillingNum = getMixOrderArray(fillingNum, currentFillingQuestionNum);
        var answerObj = answerSheet['fillings'][actualFillingNum];
        var answer = answerObj['answer'];
        if(answer.length > 0){
            for(var i=0; i<answer.length; i++){
                $('.fillingQuestionItem input').eq(i).val(answer[i]);
            }         
        }
    }
    function emptyFillingQuestion(){
        $('.fillingQuestionItem .stem').html('');
        $('.fillingQuestionItem .candidates').html('');
    }
    function renderFillingQuestion(){
        var actualFillingNum = getMixOrderArray(fillingNum, currentFillingQuestionNum);
        var questionInfo = getQuestionInfo('filling', actualFillingNum);
        emptyFillingQuestion();
        if (questionInfo) {
            var stem = formatString(questionInfo);
            $('.fillingQuestionItem .stem').html((currentFillingQuestionNum + 1) + '.' + stem);
            $('.fillingQuestionItem .labNo').html(currentFillingQuestionNum + 1);
            setQuestionLabFocus('.fillingLabBtns', currentFillingQuestionNum);
            restoreFillingAnswer();
            setFillingInputFocus();
            getTimer();
        }
    }
    function setFillingInputFocus(){
        setTimeout(function() {
            var allInputEle = $('.fillingQuestionItem input');
            for(var i=0; i<allInputEle.length; i++){
                var inputEle = $(allInputEle[i]);
                if(inputEle.val().trim() == ''){
                    inputEle.focus();
                    return;
                }
            }
            $('.fillingQuestionItem .nav_next').focus();
        }, 500);       
    }
</script>