<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BizExam Import Exam Paper</title>

    <link rel="stylesheet" type="text/css" href="Content/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="Content/css/main.css" />
    <link rel="stylesheet" href="Content/css/common.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/doublebox-bootstrap.css" />

    <script src="~/Scripts/js/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/js/respond.min.js"></script>

    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script>
        var allPaperList = [];
        var allPaperId = [];
        var examPaperNum = 0;
        $(document).ready(function () {
            getAllPaper();
        });
        function getAllPaper() {
            $.ajax({
                type: "post",
                url: "/common/GetAllPaper.ashx",
                async: false,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("requst failure!");
                },
                success: function (data) {
                    allPaperList = JSON.parse(data);
                    if (allPaperList.length != 0) {
                        refreshExamPaperList();
                    }
                }
            });
        }
        function refreshExamPaperList() {
            clearTableNoDataText();
            for (var i = 0; i < allPaperList.length; i++) {
                addNewExamPaper(allPaperList[i]);
            }
        }
        function clearTableNoDataText() {
            var noDataText = $('.noDataText');
            if (noDataText && noDataText.length != 0) {
                noDataText.remove();
            }
        }
        function addNewExamPaper(examInfo, rowIndex) {
            var rowIndex = rowIndex;
            var id = examInfo['_id'];
            var name = examInfo.name;
            if (rowIndex == -1 || rowIndex == undefined) {
                allPaperId.push(id);
                examPaperNum++;
                var tr = '<tr><td>' + examPaperNum + '</td><td>' + id + '</td><td>' + name + '</td></td>';
                tr += '<td><button class="btn btn-secondary" onclick=' + 'exportExamPaper' + '("' + id + '")' + '>Export</button></td></tr>';
                $('#examPaperTable').append(tr);
            } else {
                var tr = '<td>' + (rowIndex + 1) + '</td><td>' + id + '</td><td>' + name + '</td></td>';
                tr += '<td><button class="btn btn-secondary" onclick=' + 'exportExamPaper' + '("' + id + '")' + '>Export</button></td>';
                $("#examPaperTable tbody tr").eq(rowIndex).html(tr);
            }
        }
        function importExamPaper() {
            var formData = new FormData();
            var importFileBtn = $(".filebutton")[0];
            var file = importFileBtn.files[0];
            if (!file) {
                alert('No select any exam paper file!');
                return;
            }
            formData.append("file", file);
            $.ajax({
                url: "/common/putexam.ashx",
                type: "post",
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Failed request");
                },
                success: function (data) {
                    //alert(data);
                    clearTableNoDataText();
                    var examPaperInfo = JSON.parse(data);
                    var id = examPaperInfo['_id'];
                    var index = checkUnique(id);
                    addNewExamPaper(examPaperInfo, index);
                    $('.filebutton')[0].outerHTML = $('.filebutton')[0].outerHTML;
                    $('#importExamPaperModal').modal('hide');
                }
            });
        }
        function checkUnique(paperId) {
            var arr = allPaperId || [];
            for (var i = 0; i < arr.length; i++) {
                if (arr[i] == paperId) {
                    return i;
                }
            }
            return -1;
        }
        function exportExamPaper(sheetId) {
            var id = sheetId || '';
            if (!id) {
                alert('Empty ExamPaper ID!');
                return;
            }
            var formData = new FormData();
            formData.append("_id", id);
            var url = '/common/getPaper.ashx';           
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.responseType = "blob";
            xhr.onload = function () {
                if (this.status === 200) {
                    var blob = this.response;
                    var reader = new FileReader();
                    reader.readAsDataURL(blob);
                    reader.onload = function (e) {
                        var a = document.createElement('a');
                        a.download = 'examPaper.xlsx';
                        a.href = e.target.result;
                        $("body").append(a);
                        a.click();
                        $(a).remove();
                    }
                } else {
                    alert("Failed Request!");
                }
            };
            xhr.send(formData)
        }       
    </script>
</head>
<body>
    <div class="wholePage">
        <div class="head">
            <img class="banner" src="~/Images/IT-Fundamentals-logo.png">
            <sapn class="exit" id="exit" onclick="exit()"><img src="~/Images/ICON/exit.png" alt="Exit" /></sapn>
            <div class="clearboth"></div>
        </div>
        <div class="examPaperHeader">
            <h4 class="left">Exam Paper</h4>
            <button class="btn btn-primary right importBtn" data-toggle="modal" data-target="#importExamPaperModal">Import</button>
            <div class="clearboth"></div>
        </div>
        <div class="examPaperList">
        </div>
        <table class="table" id="examPaperTable">
            <thead>
                <tr style="background:#b8daff">
                    <th style="width: 10%;">Order</th>
                    <th style="width: 20%;">ID</th>
                    <th style="width: 50%;">Name</th>
                    <th style="width: 20%;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="noDataText">
                    <td colspan="4">No exam Paper！</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="importExamPaperModal" tabindex="-1" role="dialog" aria-labelledby="importExamPaperModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="padding: 20px 0px;">
                <p>
                    <strong style="width:150px;">Import ExamPaper: </strong>
                    <input id="file" name="file" class="filebutton" type="file" style="width:185px;">
                </p>
                <p>
                    <button class="changeinfo-btu btn btn-primary" id="importExamPaper" onclick="importExamPaper()">Import</button>
                    <button class="changeinfo-cancel btn btn-secondary" data-dismiss="modal">Cancel</button>
                </p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exportExamPaperModal" tabindex="-1" role="dialog" aria-labelledby="exportExamPaperModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="padding: 20px 0px;">
                <p>
                    <strong style="width:150px;">Export ExamPaper Id: </strong>
                    <input type="text" id="examPaperId" style="width:185px;">
                </p>
                <p>
                    <button class="changeinfo-btu btn btn-primary" id="exportExamPaper" onclick="exportExamPaper()">Export</button>
                    <button class="changeinfo-cancel btn btn-secondary" data-dismiss="modal">Cancel</button>
                </p>
            </div>
        </div>
    </div>
</body>
</html>