<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>


    <script src="~/Scripts/js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="Content/css/bootstrap.min.css">
    <script src="~/Scripts/js/popper.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.cookie.js"></script>
</head>
<body>
</body>
</html>