<div class="multiList" id="multiList">
    <div class="multiLabBtns" style="text-align: left; float:left; max-width: 900px;"></div>
    <div class="clearboth"></div>
    <div class="multiQuestionItem" style="background-color: #f5f5f5; padding: 10px;">
    </div>
</div>
<script>
    var multiList = null;
    var currentMultiQuestionNo = 0;
    var multiQuestionAnswer = [];
    var multiQuestionTimer = [];
    $(document).ready(function () {
        multiList = getValueFromParam('multi') || [];
        if (multiList.length !== 0) {
            refreshMultiList();
            setFirstMultiSelected();
        }
    })
    function refreshMultiList() {
        var multiListLabButtons = '';
        var multiListContent = '';
        var candidatesIndex = '';
        $('.nav .nav-item').eq(1).removeClass('tabDisabled');
        for (var i = 0; i < multiList.length; i++) {          
            //init the timer of answer, include answer and time
            multiQuestionAnswer[i] = [];
            multiQuestionTimer[i] = [];
            //init the quesiton label button
            multiListLabButtons += '<button class="btn questionLabNo" type="button">' + (i + 1) + '</button>';
            //init the question content
            multiListContent += '<div class="slide-container"><div class="stem">' + (i + 1) + '. ' + multiList[i].stem + '</div><ul class="candidates">';
            for (var j = 0; j < multiList[i].candidates.length; j++) {
                candidatesIndex = formatCharCode(j);
                multiListContent += '<li tabindex="0">' + candidatesIndex + '. ' + multiList[i].candidates[j] + '</li>';
            }
            multiListContent += '</ul>';
            if (i == 0) {
                multiListContent += '<div class="nav-container"><button role="button" id="prevBtn" class="btn btn-secondary nav_previous" disabled>上一题</button>';
            } else {
                multiListContent += '<div class="nav-container"><button role="button" id="prevBtn" class="btn btn-secondary nav_previous">上一题</button>';
            }
            multiListContent += '<span class="labNo">' + (i + 1) + '</span><span>/</span><span>' + multiList.length + '</span>';
            multiListContent += '<button role="button" id="nextBtn" class="btn btn-secondary nav_next">下一题</button></div></div>';
        }
        $(".multiLabBtns").html(multiListLabButtons);
        $('.multiQuestionItem').html(multiListContent);
        
        //select at least one answer
        $('.multiQuestionItem').find('li').click(function () {
            multiCandidatesToggle($(this));         
        });
        $('.multiQuestionItem').find('li').keydown(function (event) {
            var event = event || window.event;
            var keyCode = event.keyCode;
            if (keyCode == 13) {
                multiCandidatesToggle($(this));
            }
        });
        //click next button
        $('.multiQuestionItem').find('.nav_next').click(function () {
            checkMultiAnswer();
            if (currentMultiQuestionNo < multiList.length - 1) {
                currentMultiQuestionNo ++;
            } else {
                $('.tab-content').hide();
                $('#navToNextTab').modal('show');
                return false;
            }
            $(this).parents('.slide-container').fadeOut(500,
                function () {
                    $(this).next().fadeIn(500, getTimer);
                }
            );
            setQuestionLabFocus('.multiLabBtns', currentMultiQuestionNo);
        });
        //click prev button
        $('.multiQuestionItem').find('.nav_previous').click(function () {
            checkMultiAnswer();
            currentMultiQuestionNo --;
            $(this).parents('.slide-container').fadeOut(500,
                function () {
                    $(this).prev().fadeIn(500, getTimer);
                }
            );
            setQuestionLabFocus('.multiLabBtns', currentMultiQuestionNo);
        });
        //click question lab button
        $('.multiLabBtns').find('.questionLabNo').click(function (eventName, notCheckAnswer) {
            if (!notCheckAnswer) {
                checkMultiAnswer();
            }
            var index = $(this).index();
            $('.multiQuestionItem .slide-container').hide();
            $('.multiQuestionItem .slide-container').eq(index).fadeIn(500, getTimer);
            currentMultiQuestionNo = index;
            setQuestionLabFocus('.multiLabBtns', index);
        });
    }
    function multiCandidatesToggle(item) {
        var thisLabNo = $('.multiLabBtns .questionLabNo').eq(currentMultiQuestionNo);
        if (item.hasClass('selected')) {
            item.removeClass('selected');
        } else {
            item.addClass('selected');
        }
        if (item.parents('.slide-container').find('li.selected').length === 0) {
            thisLabNo.removeClass('selected');
        } else {
            thisLabNo.addClass('selected');
        }
    }
    function setFirstMultiSelected() {
        $('.multiQuestionItem .slide-container').hide();
        $('.multiQuestionItem .slide-container').eq(0).fadeIn(500);
        setQuestionLabFocus('.multiLabBtns', 0);
    }
    function checkMultiAnswer() {
        clearInterval(timer);
        var ifAnswer = $('.multiLabBtns .questionLabNo').eq(currentMultiQuestionNo).hasClass('selected');
        if (ifAnswer) {
            var questionItem = $('.multiQuestionItem .candidates').eq(currentMultiQuestionNo);
            var candidatesItems = questionItem.find('li');
            var answers = [];
            for (var i = 0; i < candidatesItems.length; i++) {
                if ($(candidatesItems[i]).hasClass('selected')) {
                    answers.push(i + 1);
                }
            }
            if (!arrayCompare(multiQuestionAnswer[currentMultiQuestionNo], answers)) {
                multiQuestionAnswer[currentMultiQuestionNo] = answers;
                multiQuestionTimer[currentMultiQuestionNo].push(time);
            } else {
                if (time > 2) {
                    multiQuestionTimer[currentMultiQuestionNo].push(time);
                }
            }       
        } else {
            multiQuestionAnswer[currentMultiQuestionNo] = [];
            if (time > 2) {
                multiQuestionTimer[currentMultiQuestionNo].push(time);
            }
        }      
        time = 0;
    };
    function getMultiAnswer() {
        var multiAnswerSheet = [];
        if (multiList.length > 0) {
            for (var i = 0; i < multiList.length; i++) {
                multiAnswerSheet.push({
                    answer: multiQuestionAnswer[i],
                    miniseconds: multiQuestionTimer[i]
                });
            }
        }
        answerSheet['multis'] = multiAnswerSheet;
    }
</script>
