<div class="shortList" id="shortQuestion">
    <div class="shortLabBtns left questionLabBtns"></div>
    <div class="clearboth"></div>
    <div class="shortQuestionItem bgColor smallPadding">
        <div class="slide-container">
            <div class="stem"></div>
            <div class="editor">
            </div>
            <div class="nav-container">
                <button role="button" id="prevBtn" class="btn btn-secondary nav_previous" disabled="disabled">上一题</button>
                <span class="labNo">0</span>
                <span>/</span>
                <span class="totalNo">0</span>
                <button role="button" id="nextBtn" class="btn btn-secondary nav_next">下一题</button>
            </div>
        </div>
    </div>
</div>
<script>
	var currentShortQuestionNum = 0;
	$(document).ready(function(){
	    if(shortNum > 0){
	    	//init short question answer
	        initShortAnswerSheet();
	        refreshShortList();
	        var E = window.wangEditor
            var oEditorEle = $('.editor')[0];
            var editor = new E(oEditorEle);
            editor.customConfig.onchange = editorChange;
            editor.create();
            $('.w-e-text').attr('tabindex', 0);
	    }
	})
	function initShortAnswerSheet(){
		for (var i = 0; i < shortNum; i++) {
	        answerSheet['shorts'].push({
	            answer: "<p><br></p>",
	            miniseconds: []
	        });
	    }
	}
	function refreshShortList(){
		var previousBtn = $('.shortList').find('.nav_previous');
		//create question lab
	    var shortListLabButtons = '';
	    for (var i = 0; i < shortNum; i++) {
	        shortListLabButtons += '<button class="btn questionLabNo" type="button">' + (i + 1) + '</button>';
	    }
	    $(".shortLabBtns").html(shortListLabButtons);

	    //refresh question total num
        $('.shortQuestionItem .totalNo').html(shortNum);

        $('.nav .nav-item').eq(4).removeClass('tabDisabled');

        //click question lab button
        $('.shortList').find('.questionLabNo').click(function (eventName, notCheckAnswer) {
            if(!notCheckAnswer){
                updateShortAnswer();
            }            
            currentShortQuestionNum = $(this).index();
            renderShortQuestion();
            if (currentShortQuestionNum == 0) {
                setBtnDisabled(previousBtn);
            }else{
                setBtnEnabled(previousBtn);
            }
        });

        //click next button
        $('.shortList').find('.nav_next').click(function () {
            updateShortAnswer();          
            if (currentShortQuestionNum < shortNum - 1) {
                currentShortQuestionNum++;
                renderShortQuestion();
                setBtnEnabled(previousBtn);
            } else {
                $('.tab-content').hide();
                $('#navToNextTab').modal('show');
            }
        });

        //click prev button
        $('.shortList').find('.nav_previous').click(function () {
            updateShortAnswer();
            if (currentShortQuestionNum > 0) {
                currentShortQuestionNum--;
                if (currentShortQuestionNum == 0) {
	                setBtnDisabled(previousBtn);
	            }
            }
            renderShortQuestion();          
        });
	}
	function updateShortAnswer(){
		clearInterval(timer);		
		var answer = $('.editor .w-e-text').html();
        var actualShortNum = getMixOrderArray(shortNum, currentShortQuestionNum);
		var currentAnswer = answerSheet['shorts'][actualShortNum]['answer'];
        //if fill or change any string
		if(answer !== currentAnswer){
			answerSheet['shorts'][actualShortNum]['answer'] = answer;
            answerSheet['shorts'][actualShortNum]['miniseconds'].push(time);
		} else {
			if(time > 2){
                answerSheet['shorts'][actualShortNum]['miniseconds'].push(time);
            }
		}
	}
	function restoreShortAnswer(){
		var actualShortNum = getMixOrderArray(shortNum, currentShortQuestionNum);
        var answerObj = answerSheet['shorts'][actualShortNum];
        var answer = answerObj['answer'];
        if(answer.length > 0){
            $('.editor .w-e-text').html(answer);
            $('.trueFalseQuestionItem .candidates').find('li').eq(currentShortQuestionNum).addClass('selected');
        }
	}
	function emptyShortQuestion(){
		$('.shortQuestionItem .stem').html('');
        $('.editor .w-e-text').html('<p><br></p>');
	}
	function renderShortQuestion(){
		var actualShortNum = getMixOrderArray(shortNum, currentShortQuestionNum);
        var questionInfo = getQuestionInfo('shortQuestion', actualShortNum);
        emptyShortQuestion();
        if (questionInfo) {
            $('.shortQuestionItem .stem').html((currentShortQuestionNum + 1) + '.' + questionInfo);
            $('.shortQuestionItem .labNo').html(currentShortQuestionNum + 1);
            setQuestionLabFocus('.shortLabBtns', currentShortQuestionNum);
            setShortFocus();
            restoreShortAnswer();
            getTimer();
        }
	}
	function editorChange() {
        var contentEle = $('.editor .w-e-text');
        var content = contentEle.text().trim();
        var thisLabNo = $('.shortLabBtns .questionLabNo').eq(currentShortQuestionNum);
        if (content.length != 0) {
            thisLabNo.addClass('selected');
        } else {
            thisLabNo.removeClass('selected');
        }
    }
    function setShortFocus(){
        setTimeout(function(){
            var editEle = $('.w-e-text');
            if(editEle.html() === '<p><br></p>'){
                editEle.focus();
            }else{
                $('.shortQuestionItem .nav_next').focus();
            }
        }, 500);       
    }
</script>