<div class="singleList" id="singleList">
    <div class="singleLabBtns left questionLabBtns"></div>
    <div class="clearboth"></div>
    <div class="singleQuestionItem bgColor smallPadding">
        <div class="slide-container">
            <div class="stem"></div>
            <ul class="candidates">
            </ul>
            <div class="nav-container">
                <button role="button" id="prevBtn" class="btn btn-secondary nav_previous" disabled="disabled">上一题</button>
                <span class="labNo">0</span>
                <span>/</span>
                <span class="totalNo">0</span>
                <button role="button" id="nextBtn" class="btn btn-secondary nav_next">下一题</button>
            </div>
        </div>
    </div>
</div>
<script>
    var currentSingleNum = 0;
    $(document).ready(function () {
        if (singleNum > 0) {
            //init single answer
            initSingleAnswerSheet();
            refreshSingleList();
        }
    });
    function initSingleAnswerSheet() {
        for (var i = 0; i < singleNum; i++) {
            answerSheet['singles'].push({
                answer: -1,
                miniseconds: []
            });
        }
    }
    function refreshSingleList() {
        var previousBtn = $('.singleList').find('.nav_previous');
        //create single question lab
        var singleListLabButtons = '';        
        for (var i = 0; i < singleNum; i++) {
            singleListLabButtons += '<button class="btn questionLabNo" type="button">' + (i + 1) + '</button>';
        }
        $(".singleLabBtns").html(singleListLabButtons);

        //refresh question total num
        $('.singleQuestionItem .totalNo').html(singleNum);

        $('.nav .nav-item').eq(0).removeClass('tabDisabled');

        //click question lab button
        $('.singleList').find('.questionLabNo').click(function (eventName, notCheckAnswer) {
            if(!notCheckAnswer){
                updateSingleAnswer();
            }            
            currentSingleNum = $(this).index();
            renderSingleQuestion();
            if (currentSingleNum == 0) {
                setBtnDisabled(previousBtn);
            }else{
                setBtnEnabled(previousBtn);
            }
        });
        //click next button
        $('.singleList').find('.nav_next').click(function () {
            updateSingleAnswer();          
            if (currentSingleNum < singleNum - 1) {
                currentSingleNum++;
                renderSingleQuestion();
                setBtnEnabled(previousBtn);
            } else {
                //emptySingleQuestion();
                $('.tab-content').hide();
                $('#navToNextTab').modal('show');
            }
        });
        //click prev button
        $('.singleList').find('.nav_previous').click(function () {
            updateSingleAnswer();
            if (currentSingleNum > 0) {
                currentSingleNum --;
                if (currentSingleNum == 0) {
                    setBtnDisabled(previousBtn);
                }
            }
            renderSingleQuestion();          
        });
        //only select at least one answer will trigger
        $('.singleQuestionItem').on('change', 'input', function () {
            $('.singleLabBtns .questionLabNo').eq(currentSingleNum).addClass('selected');
            var val = $(this).val();
            var liItem = $(this).parents('li');         
            if(val != -1){
                if (liItem.hasClass('selected')) {
                    liItem.removeClass('selected');
                } else {
                    liItem.parents('.candidates').children('li').removeClass('selected');
                    liItem.addClass('selected');
                }
            }
        });
        //support keyboard event
        $('.singleQuestionItem').on('keydown', 'input', function (event) {
            var event = event || window.event;
            var keyCode = event.keyCode;
            if (keyCode == 13) {
                $(this).trigger('click');
            }
        })
    }
    function updateSingleAnswer() {
        clearInterval(timer);
        var candidatesNum = $('.singleQuestionItem input[name="candidates"]').length;
        var answer = typeof ($('.singleQuestionItem input[name="candidates"]:checked').val()) == 'undefined' ? -1 : Number($('.singleQuestionItem input[name="candidates"]:checked').val());
        if(answer != -1){
            var actualAnswer = getMixSelectionArray(candidatesNum, answer);
            var actualSingleNum = getMixOrderArray(singleNum, currentSingleNum);
            var currentAnswer = answerSheet['singles'][actualSingleNum]['answer'];
            //if select or change any answer
            if(currentAnswer != actualAnswer){
                answerSheet['singles'][actualSingleNum]['answer'] = actualAnswer;
                answerSheet['singles'][actualSingleNum]['miniseconds'].push(time, actualAnswer);
            } else {
                if(time > 2){
                    answerSheet['singles'][actualSingleNum]['miniseconds'].push(time, currentAnswer);
                }
            }
        }      
    }
    function restoreSingleAnswer(){
        var actualSingleNum = getMixOrderArray(singleNum, currentSingleNum);
        var answerObj = answerSheet['singles'][actualSingleNum];
        var answer = answerObj['answer'];
        if(answer != -1){
            var candidatesNum = $('.singleQuestionItem input[name="candidates"]').length;
            var currentSingleAnswer = returnMixSelectionArray(candidatesNum, answer);
            $('.singleQuestionItem .candidates').find('input').eq(currentSingleAnswer).attr('checked', 'checked');
            $('.singleQuestionItem .candidates').find('li').eq(currentSingleAnswer).addClass('selected');
        }

    }
    function emptySingleQuestion(){
        $('.singleQuestionItem .stem').html('');
        $('.singleQuestionItem .candidates').html('');
    }
    function renderSingleQuestion() {
        var actualSingleNum = getMixOrderArray(singleNum, currentSingleNum);
        var questionInfo = getQuestionInfo('single', actualSingleNum);
        emptySingleQuestion();
        if (questionInfo) {
            var stem = questionInfo.stem;
            var candidatesStr = '';
            var candidates = questionInfo.candidates;
            for (var j = 0; j < candidates.length; j++) {
                var candidatesIndex = getMixSelectionArray(candidates.length, j);
                var charCode = formatCharCode(j);
                var selection = candidates[candidatesIndex];
                candidatesStr += '<li><input type="radio" id="' + charCode + '" name="candidates" value="' + j + '"><label style="width: 90%;" for="' + charCode + '">' + selection + '</label></li>';
            }
            $('.singleQuestionItem .stem').html((currentSingleNum + 1) + '.' + stem);
            $('.singleQuestionItem .candidates').html(candidatesStr);
            $('.singleQuestionItem .labNo').html(currentSingleNum + 1);
            setQuestionLabFocus('.singleLabBtns', currentSingleNum);
            setSingleSelectionFocus();
            restoreSingleAnswer();
            getTimer();
        }
    }
    function setSingleSelectionFocus(){
        $('.singleQuestionItem input[name="candidates"]').first().focus();
    }  
</script>