@using BizATWebCommon;
@using MongoDB.Bson;
@{
    string successFlag = Request.QueryString["success"];
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>提交试卷</title>

    <link rel="stylesheet" type="text/css" href="Content/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="Content/css/main.css" />
    <link rel="stylesheet" href="Content/css/common.css">
    <script src="~/Scripts/js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="Content/css/bootstrap.min.css">
    <script src="~/Scripts/js/popper.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.cookie.js"></script>
</head>
<body>
    <div class="wholePage">
        <div class="head">
            <img class="banner" src="/Images/IT-Fundamentals-logo.png">
            <div class="user">
                <img src="/Images/ICON/person.png" alt="Alternate Text">
                <a id="userIdIcon"></a>
            </div>
            <sapn class="exit" id="exit" onclick="exit()"><img src="~/Images/ICON/exit.png" alt="Exit" /></sapn>
            <div class="clearboth"></div>
            <div id="submitExamPaper" class="bgColor commonHeight">
                <h5 id="examStatus"></h5>
                <p class="hint"></p>
            </div>
        </div>
        <div class="modal fade" id="grade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <p id="yourGrade"></p>
                </div>
            </div>
        </div>
    </div>   
</body>
<script>
    var successFlag = '@successFlag';
    $(document).ready(function(){
        var userInfo = $.cookie('userInfo') ? JSON.parse($.cookie('userInfo')) : {};
        var userName = userInfo.testername;

        if ($.cookie('userId')) {                 
            $('#userIdIcon').html(userName);
            $('.user').show();
        } else {
            window.location.href = "login.cshtml";
            return;
        }

        if (successFlag == 'True') {
            $('#examStatus').html('你已成功提交试卷！');
            if($.cookie('ifFinish') == 'True') {
               $('.hint').html('成绩等待审核中 。。。');
               $('.hint').show();
            }
        } else if (successFlag == 'False') {
            $('#examStatus').html('提交试卷失败！');
            $('.hint').html('请及时联系管理员 。。。');
            $('.hint').show();
        } else {
            $('#examStatus').html('无法访问页面！');
        }
    })
    function exit(){
        $.removeCookie("userId");
        $.removeCookie("userInfo");
        window.location.replace("/login.cshtml");
    }
</script>
</html>