<div class="trueFalseList" id="trueFalseList">
    <div class="trueFalseLabBtns left questionLabBtns"></div>
    <div class="clearboth"></div>
    <div class="trueFalseQuestionItem bgColor smallPadding">
        <div class="slide-container">
            <div class="stem"></div>
            <ul class="candidates">
            </ul>
            <div class="nav-container">
                <button role="button" id="prevBtn" class="btn btn-secondary nav_previous" disabled="disabled">上一题</button>
                <span class="labNo">0</span>
                <span>/</span>
                <span class="totalNo">0</span>
                <button role="button" id="nextBtn" class="btn btn-secondary nav_next" autofocus="autofocus">下一题</button>
            </div>
        </div>
    </div>
</div>
<script>
    var currentTrueFalseQuestionNum = 0;
    $(document).ready(function(){
        if(trueFalseNum > 0){
        	//init single answer
            initTrueFalseAnswerSheet();
            refreshTrueFalseList();
        }
    })
    function initTrueFalseAnswerSheet(){
    	for (var i = 0; i < trueFalseNum; i++) {
            answerSheet['TFs'].push({
                answer: -1,
                miniseconds: []
            });
        }
    }
    function refreshTrueFalseList(){
        var previousBtn = $('.trueFalseList').find('.nav_previous');
    	//create question lab
        var trueFalseListLabButtons = '';
        for (var i = 0; i < trueFalseNum; i++) {
            trueFalseListLabButtons += '<button class="btn questionLabNo" type="button">' + (i + 1) + '</button>';
        }
        $(".trueFalseLabBtns").html(trueFalseListLabButtons);

        //refresh question total num
        $('.trueFalseQuestionItem .totalNo').html(trueFalseNum);

        $('.nav .nav-item').eq(3).removeClass('tabDisabled');

        //click question lab button
        $('.trueFalseList').find('.questionLabNo').click(function (eventName, notCheckAnswer) {
            if(!notCheckAnswer){
                updateTrueFalseAnswer();
            }            
            currentTrueFalseQuestionNum = $(this).index();
            renderTrueFalseQuestion();
            if (currentTrueFalseQuestionNum == 0) {
                setBtnDisabled(previousBtn);
            }else{
                setBtnEnabled(previousBtn);
            }
        });

        //click next button
        $('.trueFalseList').find('.nav_next').click(function () {
            updateTrueFalseAnswer();          
            if (currentTrueFalseQuestionNum < trueFalseNum - 1) {
                currentTrueFalseQuestionNum++;
                renderTrueFalseQuestion();
                setBtnEnabled(previousBtn);
            } else {
                $('.tab-content').hide();
                $('#navToNextTab').modal('show');
            }
        });

        //click prev button
        $('.trueFalseList').find('.nav_previous').click(function () {
            updateTrueFalseAnswer();
            if (currentTrueFalseQuestionNum > 0) {
                currentTrueFalseQuestionNum--;
                if (currentTrueFalseQuestionNum == 0) {
                    setBtnDisabled(previousBtn);
                }
            }
            renderTrueFalseQuestion();            
        });

        //only select at least one answer will trigger
        $('.trueFalseQuestionItem').on('change', 'input', function () {
            $('.trueFalseLabBtns .questionLabNo').eq(currentTrueFalseQuestionNum).addClass('selected');
            var val = $(this).val();
            var liItem = $(this).parents('li');         
            if(val != -1){
                if (liItem.hasClass('selected')) {
                    liItem.removeClass('selected');
                } else {
                    liItem.parents('.candidates').children('li').removeClass('selected');
                    liItem.addClass('selected');
                }
            }
        });

        //support keyboard event
        $('.trueFalseQuestionItem').on('keydown', 'input', function (event) {
            var event = event || window.event;
            var keyCode = event.keyCode;
            if (keyCode == 13) {
                $(this).trigger('click');
            }
        })
    }
    function updateTrueFalseAnswer(){
        clearInterval(timer);
        var answer = typeof ($('.trueFalseQuestionItem input[name="candidates"]:checked').val()) == 'undefined' ? -1 : Number($('.trueFalseQuestionItem input[name="candidates"]:checked').val());
        var actualTrueFalseNum = getMixOrderArray(trueFalseNum, currentTrueFalseQuestionNum);
        var currentAnswer = answerSheet['TFs'][actualTrueFalseNum]['answer'];
        //if select or change any answer
        if(currentAnswer != answer){
            answerSheet['TFs'][actualTrueFalseNum]['answer'] = answer;
            answerSheet['TFs'][actualTrueFalseNum]['miniseconds'].push(time, answer);
        } else {
            if(time > 2){
                answerSheet['TFs'][actualTrueFalseNum]['miniseconds'].push(time, currentAnswer);
            }
        }
    }
    function restoreTrueFalseAnswer(){
        var actualTrueFalseNum = getMixOrderArray(trueFalseNum, currentTrueFalseQuestionNum);
        var answerObj = answerSheet['TFs'][actualTrueFalseNum];
        var answer = answerObj['answer'];
        if(answer != -1){
            var currentSingleAnswer = answer;
            $('.trueFalseQuestionItem .candidates').find('input').eq(currentSingleAnswer).attr('checked', 'checked');
            $('.trueFalseQuestionItem .candidates').find('li').eq(currentSingleAnswer).addClass('selected');
        }
    }
    function emptyTrueFalseQuestion(){
        $('.trueFalseQuestionItem .stem').html('');
        $('.trueFalseQuestionItem .candidates').html('');
    }
    function renderTrueFalseQuestion(){
        var actualTrueFalseNum = getMixOrderArray(trueFalseNum, currentTrueFalseQuestionNum);
        var questionInfo = getQuestionInfo('TrueFalse', actualTrueFalseNum);
        emptyTrueFalseQuestion();
        if (questionInfo) {
            var candidatesStr = '';
            candidatesStr += '<li><input type="radio" id="A" name="candidates" value="' + 0 + '"><label style="width: 90%;" for="A">false</label></li>';
            candidatesStr += '<li><input type="radio" id="B" name="candidates" value="' + 1 + '"><label style="width: 90%;" for="B">true</label></li>';

            $('.trueFalseQuestionItem .stem').html((currentTrueFalseQuestionNum + 1) + '.' + questionInfo);
            $('.trueFalseQuestionItem .candidates').html(candidatesStr);
            $('.trueFalseQuestionItem .labNo').html(currentTrueFalseQuestionNum + 1);
            setQuestionLabFocus('.trueFalseLabBtns', currentTrueFalseQuestionNum);
            setTrueFalseBtnFocus();
            restoreTrueFalseAnswer();
            getTimer();
        }
    }
    function setTrueFalseBtnFocus(){
        setTimeout(function(){
            $('.trueFalseQuestionItem .nav_next').focus();
        }, 1000)
    }
</script>